{
  "presets": ["es2015", "react", "stage-3", "stage-2", "stage-1", "stage-0"],
  "plugins": ["transform-runtime"],
  "env": {
    "production": {
      "plugins": [
        "babel-plugin-transform-react-remove-prop-types",
        "babel-plugin-transform-react-constant-elements",
        "babel-plugin-transform-react-inline-elements"
      ]
    }
  }
}
