@import 'variables.scss';

.bill {
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: 600px) {
    flex-direction: row;
  }

  .animated-container {
    display: flex;
    flex: 1;
    position: relative;

    main {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      max-width: 800px;
      overflow: hidden;

      .header {
        z-index: 1;
        display: flex;
        height: $touch-height;
        flex: 0 0 auto;
        padding: 0 $gutter;
        background-color: $secondary-color;
        box-shadow: 0 1px 1em $primary-color;

        .label {
          flex: 1 1 0;
          line-height: $touch-height;

          &.long {
            flex: 2 1 0;
          }

          &:last-child {
            text-align: right;
          }
        }
      }

      .body {
        flex: 1 1 auto;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;

        > div {
          display: flex;
          height: $touch-height;

          &:nth-child(odd) {
            background-color: lighten($secondary-color, 20);
          }

          > div {
            flex: 1 1 0;
            display: inline-block;
            padding: 0 $gutter;
            line-height: $touch-height;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &.long {
              flex: 2 1 0;
            }

            &:last-child {
              text-align: right;
            }
          }
        }
      }

      .footer {
        z-index: 1;
        height: $touch-height;
        flex: 0 0 auto;
        background-color: $secondary-color;
        box-shadow: 0 1px 1em $primary-color;
        padding: 0 $gutter;
        text-align: right;
        line-height: $touch-height;
      }
    }
  }
}
