.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.slide-enter {
  transform: translateY(-100%);
}

.slide-enter.slide-enter-active {
  transform: translateY(0);
  transition: transform 500ms ease-in;
}

.slide-leave {
  transform: translateY(0);
}

.slide-leave.slide-leave-active {
  transform: translateY(100%);
  transition: transform 500ms ease-in;
}
